# AMD ROCm PyTorch builds (extra index) comment or uncoment
--extra-index-url https://d2awnip2yjpvqn.cloudfront.net/v2/gfx120X-all/

# PyTorch packages (from AMD index)
torch
torchvision
torchaudio

# Standard PyPI packages
torchmetrics
kagglehub
scikit-learn
lightning
#pytorch-lightning["extra"]