# PyTorch packages (from AMD index)
torch
torchvision
torchaudio

# Standard PyPI packages
torchmetrics
kagglehub
scikit-learn
lightning
# pytorch-lightning["extra"] # manual installation of extra index